@import "compass-mixins-template/lib/compass/css3";

html:not([dir=rtl]) .wrapper {
    padding-left: var(--cui-sidebar-occupy-start,0);
    padding-right: var(--cui-sidebar-occupy-end,0);
}

$purple: #764BE2;
$purple2: #7F73E3;

body {
    font-family: 'poppinsregular';
    color: black;
    &.no-scroll {
        overflow: hidden;
    }
}
a {
    text-decoration: none;
}
.pos-rel {
    position: relative;
}
.tbl {
    width: 100%;
    height: 100%;
    display: table;
    .cell {
        display: table-cell;
        vertical-align: middle;
        &.v-top {
            vertical-align: top;
        }
    }
}
.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus, .form-control.ng-invalid:focus {
    box-shadow: none;
}
.bg-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    display: none;
    z-index: 999999;
    &.open {
        display: block;
    }
    .abs {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%,-50%));
        img {
            width: 100px;
        }
    }
}
.form-group {
    position: relative;
    margin-bottom: 30px;
    &.tbl-form {
        .tbl {
            .cell {
                &.w140 {
                    width: 140px;
                }
            }
        }
        label {
            margin-bottom: 0;
        }
    }
    &.error {
        .form-control {
            border-color: #EF3A5D;
        }
        .required {
            font-size: 12px;
            line-height: 15px;
            color: #EF3A5D;
            margin-top: 8px;
            display: inline-block;
        }
    }
    .required {
        display: none;
    }
    &.mb8 {
        margin-bottom: 8px;
    }
    .text {
        font-size: 14px;
        line-height: 20px;
        a {
            display: inline-block;
            font-weight: bold;
            color: $purple;
            font-size: 14px;
            line-height: 20px;
            @include transition(all 0.3s);
            position: relative;
            &:before {
                width: 100%;
                height: 0.5px;
                background: $purple;
                position: absolute;
                bottom: 4px;
                left: 0;
                content: '';
            }
            &:hover {
                color: $purple2;
            }
        }
        &.flex {
            justify-content: center;
            margin-bottom: 7px;
            display: flex;
            &.left {
                justify-content: left;
            }
            &.big {
                .day {
                    width: 55px;
                    margin: auto;
                }
            }
            .day {
                font-family: 'poppinsmedium';
                width: 45px;
            }
        }
        .mb20 {
            margin-bottom: 20px;
        }
        img {
            &.verified {
                margin-left: 7px
            }
        }
    }
    label {
        font-size: 14px;
        line-height: 20px;
        font-family: 'poppinsmedium';
        margin-bottom: 8px;
        .red {
            color: #EF3A5D;
        }
    }
}

.form-control:disabled, .form-control[readonly] {
    background: transparent;
    cursor: no-drop;
}

textarea.form-control {
    height: 80px;
    resize: none;
}
.form-control {
    width: 100%;
    height: auto;
    @include border-radius(8px);
    background: white;
    border: 1px solid #DCDCDC;
    color: black;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 15px;
    min-height: 40px;
    outline: none;
    @include transition(all 0.3s);
    &:focus {
        border-color: $purple;
        box-shadow: 0 0 5px 4px #ECE8FF;
    }
    &::placeholder {
        color: #A9A9A9;
        position: relative;
        top: 1px;
    }
    &:-ms-input-placeholder {
        color: #A9A9A9;
        position: relative;
        top: 1px;
    }
    &::-ms-input-placeholder {
        color: #A9A9A9;
        position: relative;
        top: 1px;
    }
}
button.hvr-button {
    border: 2px solid $purple;
    font-weight: bold;
    background: $purple;
    color: white;
    min-width: 200px;
    @include border-radius(8px);
    padding: 11px 20px 7px;
    display: inline-block;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    position: relative;
    @include transition(all 0.3s);
    cursor: pointer;
    overflow: hidden;
    bottom: 0;
    letter-spacing: 0;
    box-shadow: none;
    &:hover {
        background: $purple2;
        border-color: $purple2;
    }
    &.white {
        background: white;
        color: $purple;
        &:hover {
            background: #ECE8FF;
        }
    }
    &.w120 {
        min-width: 120px;
    }
    &:disabled {
        border-color: #D2C7FF;
        background: #D2C7FF;
        cursor: no-drop;
        &:hover {
            border-color: #D2C7FF;
            background: #D2C7FF;
        }
    }
}
header {
    position: relative;
    z-index: 1050;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: white;
    &.fixed {
        padding: 0;
        position: fixed;
        width: 100%;
        min-height: auto;
        top: 0;
        left: 0;
        border: 0;
    }
    .logo {
        img {
            width: 100%;
        }
    }
    .hdr-member {
        height: 70px;
        margin: auto;
        .box-menu {
            margin-left: 10px;
            display: inline-block;
            font-size: 15px;
            font-weight: bold;
            background: #D2C7FF;
            padding: 6px 20px 3px;
            min-width: 120px;
            text-align: center;
            border-radius: 20px;
            color: black;
        }
        .box-name {
            display: inline-block;
            background: $purple;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: white;
            font-size: 22px;
            font-weight: bold;
            border-radius: 50%;
            position: relative;
            ul.drop-name {
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                padding: 4px 0;
                margin: 0;
                position: absolute;
                top: calc(100% + 25px);
                right: 0;
                background-color: white;
                display: none;
                min-width: 200px;
                z-index: 1000;
                border-radius: 8px;
                display: none;
                li {
                    text-align: left;
                    margin-right: 0;
                    display: block;
                    a {
                        display: block;
                        font-family: 'poppinsregular';
                        font-size: 14px;
                        line-height: 20px;
                        padding: 10px 15px;
                        color: black;
                        @include transition(all 0.3s);
                        &:hover {
                            background: #ECE8FF;
                        }
                    }
                }
                &.open {
                    display: block;
                }
            }
        }
    }
}

.auth {
    position: relative;
    padding: 120px 0;
    &.auth200 {
        padding: 190px 0;
    }
    .box-error {
        margin-top: -10px;
        margin-bottom: 25px;
        padding: 15px;
        border: 2px solid #EF3A5D;
        background: #FFE7EB;
        @include border-radius(8px);
        font-size: 14px;
        line-height: 20px;
        display: none;
        a {
            font-weight: bold;
            position: relative;
            display: inline-block;
            color: $purple;
            @include transition(all 0.3s);
            &:before {
                content: '';
                background: $purple;
                width: 100%;
                height: 1px;
                position: absolute;
                left: 0;
                bottom: 4px;
            }
            &:hover {
                color: $purple2;
            }
        }
    }
    .pad {
        padding: 0 20px;
    }
    .abs {
        width: 50%;
        top: 50%;
        left: 0;
        position: absolute;
        @include transform(translateY(-50%));
        img {
            width: 100%;
        }
    }
    .img-success {
        text-align: center;
        margin-bottom: 20px;
        img {
            width: 140px;
        }
    }
    .t1 {
        font-size: 25px;
        line-height: 35px;
        text-align: center;
        margin-bottom: 30px;
        font-weight: bold;
        &.mb20 {
            margin-bottom: 20px;
        }
    }
    .desc {
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 30px;
        .mb20 {
            margin-bottom: 20px;
        }
    }
    .desc2 {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 30px;
    }
    .link {
        a {
            display: inline-block;
            font-weight: bold;
            color: $purple;
            font-size: 14px;
            line-height: 20px;
            @include transition(all 0.3s);
            &:hover {
                color: $purple2;
            }
        }
    }
    .link-btn {
        margin: 30px 0 25px;
        text-align: center;
        &.mt0 {
            margin-top: 0;
        }
        a {
            display: inline-block;
        }
        button.hvr-button {
            padding: 10px 25px;
            min-width: 270px;
        }
    }
    .link-text {
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        a {
            position: relative;
            @include transition(all 0.3s);
            font-weight: bold;
            display: inline-block;
            &:before {
                content: '';
                width: 100%;
                height: 1px;
                background: $purple;
                position: absolute;
                bottom: 4px;
                left: 0;
            }
            &:hover {
                color: $purple2;
            }
        }
    }
}
.sidebar {
    --cui-sidebar-width: 16rem;
    &:not(.sidebar-end) ~ * {
        --cui-sidebar-occupy-start: 16rem;
    }
    &.sidebar-fixed {
        box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.15);
    }
    ul.sidebar-nav {
        padding: 120px 0 10px;
        margin: 0;
        background: white;
        .nav-group {
            &.show {
                background: white;
            }
        }
        li {
            color: black;
            font-size: 14px;
            line-height: 20px;
            font-weight: bold;
            margin-bottom: 5px;
            &.pl40 {
                padding-left: 40px;
            }
            &.mb15 {
                margin-bottom: 15px;
            }
            a {
                font-weight: normal;
                position: relative;
                line-height: 20px;
                font-size: 14px;
                padding: 5px 10px 5px 60px !important;
                color: black;
                font-family: 'poppinsmedium';
                @include transition(all 0.3s);
                &:before {
                    width: 5px;
                    height: 100%;
                    content: '';
                    top: 0;
                    left: 0;
                    background: transparent;
                    position: absolute;
                }
                &:hover {
                    color: $purple;
                }
                &.active {
                    color: $purple;
                    &:before {
                        background: $purple;
                    }
                }
            }
        }
    }
}
html:not([dir=rtl]) .picker-input-group .form-control:not(:last-child) {
    border-right: 1px solid #D8D5E2;
}

.pt120 {
    padding-top: 120px;
    &.pt70 {
        padding-top: 70px;
    }
}
.pad-content {
    padding: 0 60px 50px;
    &.pet {
        background: #ECE8FF;
        padding-top: 50px;
        padding-block: 20px;
    }
}
.pad-content2 {
    padding: 40px 60px;
}
.title {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 30px;
    &.mb0 {
        margin-bottom: 0;
    }
}
.title2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
}
.title3 {
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px;
}
.note {
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
    color: #6C6C6C;
}
ul.l-btn {
    margin: 0;
    padding: 0;
    &.mt50 {
        margin-top: 50px;
    }
    &.center {
        text-align: center;
    }
    &.right {
        text-align: right;
    }
    li {
        display: inline-block;
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
        .form-group {
            margin-bottom: 0;
        }
        a {
            display: inline-block;
            font-weight: bold;
            color: $purple !important;
            cursor: pointer;
            font-size: 14px;
            line-height: 20px;
            @include transition(all 0.3s);
            &:hover {
                color: $purple2 !important;
            }
            &.bdr {
                position: relative;
                &:before {
                    width: 100%;
                    height: 0.5px;
                    background: $purple;
                    position: absolute;
                    bottom: 4px;
                    left: 0;
                    content: '';
                }
            }
        }
    }
}
.back {
    margin-bottom: 30px;
    a {
        .text {
            position: relative;
            &:before {
                width: 100%;
                height: 1px;
                background: $purple;
                position: absolute;
                bottom: 1px;
                left: 0;
                content: '';
            }
        }
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;
        display: inline-block;
        color: $purple;
        @include transition(all 0.3s);
        &:hover {
            color: $purple2;
        }
    }
}
.box-faq {    
    .form-faq {
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 30px;
        }
        .tbl {
            .cell {
                &.w100 {
                    width: 100px;
                }
            }
        }
        .mb20 {
            margin-bottom: 20px;
        }
        .mb15 {
            margin-bottom: 15px;
        }
        .t-faq {
            font-size: 17px;
            line-height: 26px;
            font-weight: bold;
        }
        .t2-faq {
            font-weight: bold;
            font-size: 15px;
            line-height: 22px;
        }
        .delete-faq {
            cursor: pointer;
            display: inline-block;
            font-weight: bold;
            color: $purple;
            font-size: 14px;
            line-height: 20px;
            @include transition(all 0.3s);
            position: relative;
            &:before {
                width: 100%;
                height: 0.5px;
                background: $purple;
                position: absolute;
                bottom: 4px;
                left: 0;
                content: '';
            }
            &:hover {
                color: $purple2;
            }
        }
        textarea {
            height: 60px;
        }
    }
}
.upload-container {
    line-height: 1;
    .upload-button {
        border: 2px solid $purple;
        font-weight: bold;
        background: white;
        color: $purple;
        @include border-radius(8px);
        padding: 8px 20px 6px;
        display: inline-block;
        margin: 0;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        position: relative;
        @include transition(all 0.3s);
        cursor: pointer;
        overflow: hidden;
        bottom: 0;
        letter-spacing: 0;
        box-shadow: none;
        &:hover {
            background: #ECE8FF;
        }
    }
    .file-info {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        img {
            width: 22px;
        }
        span {
            font-size: 14px;
            line-height: 20px;
            position: relative;
            color: $purple;
            &:before {
                width: 100%;
                height: 0.5px;
                background: $purple;
                position: absolute;
                bottom: 1px;
                left: 0;
                content: '';
            }
        }
    }
    .remove-btn {
        top: 1px;
        color: $purple;
        border: 0;
        padding: 0;
        background: white;
        font-size: 14px;
        line-height: 20px;
        position: relative;
        @include transition(all 0.3s);
        font-weight: bold;
        display: inline-block;
        &:before {
            content: '';
            width: 100%;
            height: 0.5px;
            background: $purple;
            position: absolute;
            bottom: 1px;
            left: 0;
        }
        &:hover {
            color: $purple2;
        }
    }
}
.modal {
    text-align: center;
    -webkit-overflow-scrolling: auto;
    padding: 0 !important;
    background-color: transparent;
    .modal-content {
        padding: 25px 25px;
        -webkit-box-shadow: none;
        box-shadow: none;
        @include border-radius(8px);
        border: 0;
    }
    .modal-body {
        padding: 0;
    }
    .modal-dialog {
        overflow: visible;
        text-align: left;
        margin: 0 auto;
        width: 590px;
        max-width: 590px;
    }
    .mb15 {
        margin-bottom: 15px;
    }
    .t-pop {
        font-size: 18px;
        line-height: 26px;
        font-weight: bold;
    }
    .bdy-pop {
        margin-bottom: 25px;
        p {
            &.mb20 {
                margin-bottom: 20px;
            }
            a {
                cursor: pointer;
                display: inline-block;
                color: $purple;
                font-size: 14px;
                line-height: 20px;
                @include transition(all 0.3s);
                position: relative;
                &:before {
                    width: 100%;
                    height: 0.5px;
                    background: $purple;
                    position: absolute;
                    bottom: 4px;
                    left: 0;
                    content: '';
                }
                &:hover {
                    color: $purple2;
                }
            }
            margin-bottom: 0;
            font-size: 14px;
            line-height: 20px;
        }
    }
    .box-pop {
        padding: 25px 70px;
        &.success {
            border: 2px solid #00C983;
            background: #DAFFF2;
        }
        &.failed {
            border: 2px solid #EF3A5D;
            background: #FFE7EB;
        }
        @include border-radius(8px);
        text-align: center;
        margin-bottom: 25px;
        .img {
            img {
                width: 32px;
            }
        }
        .bdy {
            margin-top: 10px;
            p {
                font-size: 14px;
                line-height: 22px;
                margin-bottom: 0;
            }
        }
    }
    .close {
        display: inline-block;
        cursor: pointer;
        @include transition(all 0.3s);
        &:hover {
            opacity: 0.7;
        }
    }
}
.link-global {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    color: $purple;
    font-size: 14px;
    line-height: 20px;
    @include transition(all 0.3s);
    position: relative;
    a {
        color: $purple;
        &:hover {
            color: $purple2;
        }
    }
    &:before {
        width: 100%;
        height: 0.5px;
        background: $purple;
        position: absolute;
        bottom: 4px;
        left: 0;
        content: '';
    }
    &:hover {
        color: $purple2;
    }
}
ul.l-menu {
    margin: 0 0 30px;
    padding: 0;
    li {
        display: inline-block;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
        a {
            line-height: 20px;
            font-size: 14px;
            display: inline-block;
            border-bottom: 3px solid transparent;
            font-weight: bold;
            color: black;
            @include transition(all 0.3s);
            &:hover {
                color: $purple;
            }
            &.active {
                color: $purple;
                border-color: $purple;
            }
        }
    }
}
ul.l-pdf {
    margin: 0;
    padding: 0;
    li {
        display: block;
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
        img {
            margin-right: 7px;
            width: 21px;
        }
        a {
            font-size: 14px;
            line-height: 20px;
            position: relative;
            @include transition(all 0.3s);
            color: $purple;
            display: inline-block;
            &:before {
                content: '';
                width: 100%;
                height: 0.5px;
                background: $purple;
                position: absolute;
                bottom: 4px;
                left: 0;
            }
            &:hover {
                color: $purple2;
            }
        }
    }
}
ul.l-radio {
    margin: 0;
    padding: 0;
    li {
        margin-right: 50px;
        display: inline-block;
        vertical-align: middle;
        &:last-child {
            margin-right: 0;
        }
    }
}
.css-radio {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @include transition(all 0.3s);
    margin-bottom: 0;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:disabled {
            &:checked ~ .checkmark {
                background: #A9A9A9;
                border-color: #A9A9A9;
            }
        }
        &:checked ~ .checkmark {
            background: $purple;
            border-color: $purple;
        }
        &:checked ~ .checkmark:after {
            display: block;
        }
    }
    .text {
        padding-left: 27px;
        font-size: 14px;
        line-height: 20px;
        font-family: 'poppinsregular';
        a {
            cursor: pointer;
            display: inline-block;
            color: $purple;
            font-size: 14px;
            line-height: 20px;
            @include transition(all 0.3s);
            position: relative;
            font-weight: bold;
            &:before {
                width: 100%;
                height: 0.5px;
                background: $purple;
                position: absolute;
                bottom: 4px;
                left: 0;
                content: '';
            }
            &:hover {
                color: $purple2;
            }
        }
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 17px;
        width: 17px;
        border-radius: 3px;
        background-color: white;
        border: 2px solid #A9A9A9;
        @include transition(all 0.3s);
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 5px;
            top: 2px;
            width: 5px;
            height: 9px;
            border: solid white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}
.bdr-form {
    width: 100%;
    height: 1px;
    background: #dcdcdc;
    margin-top: 15px;
}
.t-form {
    border-top: 1px solid #DCDCDC;
    padding-top: 20px;
    font-size: 17px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 25px;
    &.no-bdr {
        border-top: 0;
        padding-top: 0;
    }
}
.mb25-global {
    margin-bottom: 25px;
}
.mb30-global {
    margin-bottom: 30px;
}
.box-status {
    padding: 5px 12px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    &.green {
        color: #00C983;
        background: #DAFFF2;
    }
    &.yellow {
        color: #F0C102;
        background: #FFF9E5;
    }
    &.red {
        color: #EF3A5D;
        background: #FFE7EB;
    }
    &.grey {
        color: #764BE2;
        background: #ECE8FF;
    }
}
.box-audit {
    &.mt0 {
        margin-top: 0;
    }
    margin-top: 30px;
    padding: 20px 20px 10px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 16px;
    background: #F7F7F7;
    .t1 {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .mb10 {
        margin-bottom: 10px;
    }
    .tbl {
        .cell {
            vertical-align: top;
            &.w150 {
                font-family: 'poppinsmedium';
                width: 160px;
            }
        }
    }
}
.css-select {
    position: relative;
    width: 100%;
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        background: url('../../../public/assets/img/select.svg');
        width: 25px;
        height: 24px;
        pointer-events: none;
    }
    .select2-container {
        width: 100% !important;
        .select2-selection--single {
            height: 40px;
            border: 1px solid #dcdcdc;
            @include border-radius(8px);
            &:focus {
                border-color: $purple;
                box-shadow: 0 0 5px 4px #ECE8FF;
            }
            .select2-selection__rendered {
                color: black;
                font-size: 14px;
                line-height: 20px;
                padding: 10px 30px 8px 15px;
            }
        }
    }
    .select2-selection__arrow, .select2-selection__clear, .select-options {
        display: none;
    }
}
.select2-dropdown {
    z-index: 9999;
    @include border-radius(8px);
    box-shadow: none;
    border: 0;
    min-width: auto;
}
.select2-results__option {
    padding: 10px 15px;
}
.select2-results__options {
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #dcdcdc;
    border-top: 0;
}
.select2-container--default {
    .select2-results__option--selected {
        background: white;
        color: black;
    }
    .select2-results__option--highlighted.select2-results__option--selectable {
        background: rgba(236, 232, 255, 0.8);
        color: black;
    }
}
.css-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @include transition(all 0.3s);
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .checkmark {
            border-color: $purple;
        }
        &:checked ~ .checkmark:after {
            display: block;
        }
    }
    .text {
        padding-left: 27px;
        font-size: 14px;
        line-height: 20px;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 19px;
        width: 19px;
        border-radius: 50%;
        background-color: white;
        border: 2px solid #A9A9A9;
        @include transition(all 0.3s);
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 3px;
            top: 3px;
            width: 10px;
            height: 10px;
            background: $purple;
            border-radius: 50%;
        }
    }
}
.box-profile {
    margin-bottom: 40px;
    .tbl {
        .cell {
            &.img {
                width: 130px;
                padding-right: 30px;
                .bdr {
                    border-radius: 50%;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    border: 5px solid white;
                    img {
                        border-radius: 50%;
                        width: 100%;
                    }
                }
            }
            .nm {
                font-size: 25px;
                line-height: 35px;
                font-weight: bold;
            }
            ul.l-profile {
                margin: 0;
                padding: 0;
                li {
                    vertical-align: middle;
                    display: inline-block;
                    margin-right: 7px;
                    padding-right: 7px;
                    border-right: 1px solid black;
                    &:last-child {
                        margin-right: 0;
                    }
                    font-size: 14px;
                    line-height: 20px;
                    color: black;
                }
            }
        }
    }
}
.box-pet {
    .box2-pet {
        &:last-child {
            margin-bottom: 0;
        }
    }
    &.grey {
        background: #f7f7f7;
    }
    &.pink {
        background: #FFE7EB;
    }
    &.orange {
        background: #FFF9E5;
    }
    margin-bottom: 20px;
    border-radius: 16px;
    padding: 20px;
    ul.l-pet {
        margin: 0 0 5px;
        &.mb10 {
            margin-bottom: 10px;
        }
        padding: 0;
        li {
            vertical-align: middle;
            display: inline-block;
            margin-right: 3px;
            &:last-child {
                margin-right: 0;
            }
            font-size: 15px;
            line-height: 22px;
            font-weight: bold;
            color: black;
        }
    }
}
.box2-pet {
    background: white;
    margin-bottom: 20px;
    border-radius: 16px;
    padding: 20px;
    font-size: 14px;
    line-height: 20px;
    .mb5 {
        margin-bottom: 5px;
    }
    ul.l-date {
        margin: 0 0 5px;
        padding: 0;
        li {
            vertical-align: middle;
            display: inline-block;
            margin-right: 5px;
            &:last-child {
                margin-right: 0;
            }
            .box-status {
                font-size: 12px;
            }
        }
    }
}
.table-pet {
    margin-bottom: 50px;
    .tbl {
        &.tbl-hdr {
            background: #F0F0F0;
            font-weight: bold;
        }
        .cell {
            font-size: 14px;
            line-height: 20px;
            padding: 15px 30px 15px 0;
            border-bottom: 1px solid #DCDCDC;
            &:first-child {
                padding-left: 30px;
            }
            &:last-child {
                padding-right: 0;
            }
            &.w15 {
                width: 15%;
            }
            &.w24 {
                width: 24%;
            }
            &.w63 {
                width: 63%;
            }
        }
    }
}
.css-table {
    &.mt30 {
        margin-top: 30px;
    }
    table {
        &.dataTable {
            margin-bottom: 25px !important;
            margin-top: 0 !important;
        }
        thead {
            tr {
                th {
                    &.last {
                        &:last-child {
                            &:before, &:after {
                                display: none;
                            }
                        }    
                    }
                    border-bottom: 0;
                    white-space: nowrap;
                    padding: 15px 20px 10px;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 20px;
                    color: black;
                    background: #F0F0F0;
                }
            }
        }
        tbody {
            tr {
                td {
                    white-space: nowrap;
                    padding: 12px 20px;
                    color: black;
                    font-size: 14px;
                    line-height: 20px;
                    border-bottom: 1px solid #DCDCDC;
                }
            }
        }
    }
}
.dataTables_wrapper .dataTables_paginate {
    display: flex;
    justify-content: center;
}
ul.pagination {
    justify-content: right;
    margin: 0;
    li {
        border: 0;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
        &.page-item {
            &.previous {
                a {
                    padding-right: 5px;
                    padding-left: 0;
                    width: auto;
                    height: auto;
                    &:hover {
                        background: transparent;
                        opacity: 0.5;
                    }
                }
            }
            &.next {
                a {
                    padding-left: 5px;
                    padding-right: 0;
                    margin-left: 0;
                    width: auto;
                    height: auto;
                    &:hover {
                        background: transparent;
                        opacity: 0.5;
                    }
                }
            }
            &.disabled {
                opacity: 0.4;
                .page-link {
                    border: 0;
                }
            }
            &.active {
                .page-link {
                    color: $purple;
                    background: #ECE8FF;
                    border: 1px solid #ECE8FF;
                }
            }
        }
        a.page-link {
            border-radius: 50%;
            color: black;
            font-size: 14px;
            line-height: 20px;
            width: 35px;
            height: 35px;
            text-align: center;
            line-height: 35px;
            padding: 0;
            border: 1px solid transparent;
            &:focus {
                box-shadow: none;
            }
            &:hover {
                background: transparent;
                color: $purple;
            }
        }
    }
}
.search {
    position: relative;
    width: 470px;
    &.m30 {
        margin: 30px 0;
    }
    .form-control {
        border-radius: 38px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .abs {
        position: absolute;
        top: 48%;
        left: 12px;
        @include transform(translateY(-50%));
    }
}