@media (max-width: 767px) {
    button.hvr-button {
        font-size: 12px;
        line-height: 17px;
        padding: 8px 15px 7px 15px;
        min-width: 100px;
        &.w200 {
            min-width: 160px;
        }
    }
    .box-desc {
        padding: 10px;
        font-size: 12px;
        line-height: 15px;
        .mb20 {
            margin-bottom: 10px;
        }
    }
    .desc {
        font-size: 13px;
        line-height: 18px;
        margin: 15px 0;
    }
    .form-group {
        label {
            margin-bottom: 5px;
            &.big {
                font-size: 14px;
                line-height: 20px;
            }
            &.mb0 {
                margin-bottom: 5px;
            }
            font-size: 12px;
            line-height: 17px;
        }
    }
    .mb25 {
        margin-bottom: 20px;
    }
    .box-view {
        margin-top: 30px;
        .t1 {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 5px;
        }
        .text {
            padding-bottom: 5px;
            margin-bottom: 5px;
            font-size: 13px;
            line-height: 22px;
        }
    }
    ul.l-menu {
        margin: 0 0 20px;
        li {
            margin-right: 15px;
            a {
                line-height: 18px;
                font-size: 13px;
                border-bottom: 2px solid transparent;
            }
        }
    }
    .sidebar {
        --cui-sidebar-width: 100%;
        ul.sidebar-nav {
            padding: 0 20px 15px;
            li {
                a {
                    line-height: 20px;
                    font-size: 14px;
                    padding: 10px 20px 10px 30px !important;
                    img {
                        width: 22px;
                        top: -2px;
                    }
                }
            }
        }
        .box-hdr {
            background: white;
            padding: 15px 20px 20px;
            .close {
                cursor: pointer;
                display: inline-block;
                @include transition(all 0.3s);
                img {
                    width: 21px;
                }
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
    .form-control {
        &.big {
            font-size: 14px;
            line-height: 20px;
            padding: 12px 20px;            
        }
        font-size: 12px;
        line-height: 17px;
    }
    button.hvr-button {
        &.big {
            padding: 10px 20px;
            font-size: 14px;
            line-height: 20px;
        }
    }
    header {
        &.header {
            z-index: 1000;
            padding: 15px 5px;
            .account {
                a {
                    img {
                        width: 25px;
                    }
                }
            }
        }
    }
    ul.l-hdr {
        text-align: center;
        li {
            margin-right: 10px;
            .logo {
                img {
                    height: 25px;
                }
            }
            .box-menu {
                font-size: 12px;
                line-height: 15px;
                min-width: 90px;
            }
        }
    }
    .pad-content {
        padding: 0 5px 50px;
    }
    .pt120 {
        padding-top: 80px;
    }
    .title {
        font-size: 17px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .table-responsive {
        &.css-table {
            .dataTables_info {
                margin-bottom: 5px;
                top: 0;
                float: none;
                text-align: center;
            }
        }
    }
    .box-table {
        padding: 15px;
    }
    ul.pagination {
        margin-top: 15px;
        justify-content: center;
    }
    .modal {
        button.hvr-button {
            font-size: 12px;
            line-height: 17px;
            padding: 8px 15px 7px 15px;
            min-width: 100px;
        }
        .modal-content {
            padding: 15px;
        }
        .form-group {
            &.slot {
                margin-bottom: 5px;
                padding-block: 5px;
                &.mb30 {
                    margin-bottom: 20px;
                }
                .select {
                    font-size: 12px;
                    line-height: 17px;
                }
            }
        }
        .text {
            a {
                font-size: 12px;
                line-height: 17px;
            }
        }
        .box-pop {
            padding: 15px 20px;
            margin: 15px 0 20px;
            .img {
                img {
                    width: 30px;
                }
            }
            .bdy {
                margin-top: 10px;
                p {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
        .cancel {
            font-size: 12px;
            line-height: 17px;
            a {
                font-size: 12px;
                line-height: 17px;
            }
        }
        .mb15 {
            margin-bottom: 10px;
        }
        .desc {
            font-size: 12px;
            line-height: 17px;
            margin-bottom: 15px;
        }
        .text {
            font-size: 12px;
            line-height: 17px;
        }
        .modal-dialog {
            width: 500px;
            max-width: 500px;
        }
        .t-pop {
            font-size: 16px;
            line-height: 26px;
        }
    }
    .accordion {
        .item {
            .nm {
                .accordion-button {
                    &.collapsed {
                        padding-bottom: 10px;
                    }
                    &:after {
                        top: 7px;
                        width: 20px;
                        height: 20px;
                    }
                    padding: 10px 25px 5px 0;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
            .body {
                padding: 0 0 10px 0;
                p {
                    font-size: 13px;
                    line-height: 17px;
                }
            }
        }
    }
}