@media (max-width: 576px) {
    .modal {
        .modal-dialog {
            width: 400px;
            position: relative;
            max-width: 400px;
        }
        .t-pop {
            font-size: 14px;
            line-height: 20px;
        }
        .t2-pop {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 10px;
        }
        .form-group {
            margin-bottom: 15px;
        }
        ul.l-list {
            &.resp {
                margin-top: 5px;
                text-align: left;
                .close {
                    position: absolute;
                    top: 12px;
                    right: 10px;
                }
            }
            li {
                margin-right: 5px;
            }
        }
        .box {
            padding: 5px 10px;
            font-size: 11px;
            &.min100 {
                min-width: 80px;
            }
        }
    }
}
@media (max-width: 420px) {
    .row {
        &.block400 {
            display: block;
            > div {
                width: 100%;
            }
            .text-end {
                text-align: left !important;
            }
        }
    }
    .link-add {
        margin-top: 5px;
    }
    .search {
        width: 100%;
    }
    .modal {
        &#required2Modal {
            ul.l-btn {
                .cancel {
                    font-size: 11px;
                    line-height: 15px;
                }
                button.hvr-button {
                    font-size: 11px;
                    line-height: 15px;
                    padding: 7px 10px 6px 10px;
                }
            }
        }
        .modal-dialog {
            width: 300px;
            max-width: 300px;
        }
    }
}