//
   * CoreUI PRO Bootstrap Admin Template
   * @version v4.1.1
   * @link https://coreui.io/pro/
   * Copyright (c) 2022 creativeLabs Łukasz Holeczek
   * License (https://coreui.io/pro/license)
= "\n"
